# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Coverage directory
coverage/

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project